.down-payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.minus {
    flex: 0.1;
    background-color: #7DCADC;
    color: white;
    font-weight: bold;
    padding: 0;
    border-radius: 50%;
    margin-top: 2em;
    text-align: center;
    margin-right: 1.5em;
}

.dp-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dp-percent {
    color: #5584A4;
}

.dp-dollar {
    color: #70CDE7;
}


