.App {
    width: 35%;
	padding: 1em;
    background-color: rgb(201, 201, 201);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section {
	margin: 0 1em;
    padding: 1.5em;
    background-color: white;
    border: 2px solid rgb(190, 213, 248);
}

.section-bg {
    margin: 0 1.1em;
}

.btn {
    color: white;
    background-color: rgb(46, 46, 46);
    border: none;
	padding: 0.5em;
}

input {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom-color: black;
}

.no-border {
    border: hidden;
}

.outline-bot:focus {
    outline: none;
    border-bottom-color: rgb(0, 66, 151);
}

.no-outline {
    outline: none;
}

.label {
    font-weight: 600;
}